/* Quicksand font style */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* Raleway font style */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.raleway-font {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
*{
    margin: 0px;
    padding: 0px;
}
/* Nav section style */
nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
}
.nav-img{
    display: flex;
    /* padding-left: 80px; */
    
}
.nav-img img{
    width: 50px;
    height: 50px;
}
.nav-img h2{
    font-size: 2rem;
    font-weight: bold;
    padding-top: 6px;
    padding-left: 6px;
    margin: 0px;
}
nav ul{
    display: flex;
}
.nav-list ul li{
    list-style: none;
    padding-right: 25px;
    
}
.nav-list ul li a{
    text-decoration: none;
}
.nav-list ul li a:hover{
    font-weight: 800;
}
.nav-list ul .home{
    color: #FEA301;
    font-size: 1rem;
    font-weight: bold;
}
.nav-list ul .about{
    font-size: 1rem;
    font-weight: bold;
    color: #01ACFD;
}
.nav-list ul .facilities{
    color: #05D4DF;
    font-size: 1rem;
    font-weight: bold;
}
.nav-list ul .admission{
    color: #5D58EF;
    font-size: 1rem;
    font-weight: bold;
}
.nav-btn{
    margin-top: 11px;
}
.nav-btn button{
    font-size: 1rem;
    font-weight:700;
    color: #FFFFFF;
    background-color: #FEA301;
    width: 120px;
    height: 30px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.nav-btn button:hover{
    background-color: #FFFFFF;
    color: #FEA301;
    border: 2px solid #FEA301;
}
.bar{
    display: none;
}
marquee{
    margin-top: 20px;
    color:  #05D4DF;
}
/* Hero section style */
.hero-container{
    display: flex;
    padding-left: 85px;
    padding-right: 85px;
    padding-top: 30px;
}
.hero-container h1{
    font-size: 3rem;
    font-weight: bold;
    color: #111111;
    margin-bottom: 10px;
}
.hero-container h1 .empowering{
    color: #FEA301;
}
.hero-container h1 .vision{
    color: #01ACFD;
}
.hero-container p{
    font-size: 0.8rem;
    padding-right: 12px;
}
.hero-img img{
    width: 100%;
}
.hero-content button{
    color: #FFFFFF;
    background-color: #111111;
    width: 120px;
    height: 30px;
    border-radius: 8px;
    border: none;
    margin-top: 12px;
}
.hero-content button:hover{
    background-color: #FFFFFF;
    color: #111111;
    border: 2px solid #111111;
    cursor: pointer;
}
/* curriculum section style */
.curriculum-section{
    background-image: url(assets/bg.png);
    background-size: 100%;
    text-align: center;
    padding-left: 85px;
    padding-right: 85px;
}
.curriculum-section h2{
    padding-top: 30px;
    font-size: 2.8rem;
    font-weight: bold;
}
.curriculum-cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px;
    padding-top: 60px;
}
.curriculum-card{
    width: 250px;
    height: 350px;
    text-align: center;
    border-radius: 15px;
    border: 2px solid #e4e1e1;
}
.card1{
    background: linear-gradient(to bottom, #DEF5FF, #fcfeff34);
}
.card2{
    background: linear-gradient(to bottom, #FFF4DC, #fcfeff34);
}
.card3{
    background: linear-gradient(to bottom, #F2E8FF, #fcfeff34);
}
.curriculum-card img{
    padding-top: 30px;
}
.curriculum-card h4{
    font-size: 1.4rem;
    font-weight: bold;
    padding-top: 3px;
}
.curriculum-card p{
    font-size: 0.8rem;
    font-weight: 500;
    color: #808080;
    padding-top: 1px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 30px;
}
.curriculum-card a{
    text-decoration: none;
    font-weight: bold;
    font-size: 0.8rem;
}
.card1 a{
    color: #64C8FF;
}
.card1 a:hover{
    color: rgb(5, 139, 146);
    font-size: 0.9rem;
}
.card2 a{
    color: #F0AA00;
}
.card2 a:hover{
    color: #ffb300;
    font-size: 0.9rem;
}
.card3 a{
    color: #8700FF;
}
.card3 a:hover{
    color: #7b08df;
    font-size: 0.9rem;
}
.curriculum-section i{
    font-size: 1rem;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    color: #FFFFFF;
    background-color: #F0AA00; 
    display: flex;
    justify-content: center;
    align-items: center;    
}
.curriculum-section i:hover{
    color: #F0AA00;
    background-color: #FFFFFF;
    border: 2px solid #F0AA00;
}
.arrow-icone{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100px;
}
.arrow-icone:hover{
    cursor: pointer;   
}
/* story section style */
.story{
    background-image: url(assets/bg.png),linear-gradient(to top, #fea1015d, #FFFFFF);
    background-size: 100%;
    max-width: 1440px;
}
.story-section{
    padding-left: 85px;
    padding-right: 85px;
    text-align: center;
}
.story-section h2{
    font-size: 2.8rem;
    color: #000000;
    font-weight: bold;
    margin-top: 60px;
    margin-bottom: 60px;
}
.story-card-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,250px);
    gap: 20px;
    
}
.story-card{
    background-color: #FFFFFF;
    border-radius: 16px;
}
#story-card1{
    grid-row: span 2;
    text-align: start;
}
#story-card1 img{
    width: 100%;
    height: 50%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}
#story-card1 h4{
    font-size: 1.2rem;
    font-weight: bold;
    color: #000000;
    width: 300px;
    margin-top: 50px;
    margin-left: 20px;
}
#story-card1 p{
    font-size: 0.8rem;
    font-weight:600;
    color: #666666;
    margin-top: 35px;
    margin-left: 20px;
    padding-right: 20px;
}
#story-card1 .timee{
    width: 140px;
    height: 30px;
    font-size: 0.8rem;
    color: #FFFFFF;
    font-weight: 500;
    background-color: #3CD8E8;
    border-radius: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 210px;
    left: 30px;
}
.story-card img {
    width: 100%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}
.story-card h6{
    color: #000000;
    font-size: 0.8rem;
    font-weight: bold;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 50px;
    text-align: start;
}
.story-section button{
    font-size: 1rem;
    font-weight:700;
    color: #FFFFFF;
    background-color: #111111;
    width: 120px;
    height: 30px;
    border-radius: 10px;
    border: none;
    margin-top: 70px;
    margin-bottom: 60px;
    cursor: pointer;
}
.story-section button:hover{
    background-color: #FFFFFF;
    color: #111111;
    font-weight: bolder;
    border: 2px solid #111111;
}
.story-card .timee{
    width: 140px;
    height: 22px;
    font-size: 0.7rem;
    color: #FFFFFF;
    font-weight: 500;
    background-color: #3CD8E8;
    border-radius: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 75px;
    left: 25px;
}
#story-card2 .timee{
    background-color: #95B226;
}
#story-card3 .timee{
    background-color: #5D58F0;
}
#story-card4 .timee{
    background-color: #95B226;
}
#story-card5 .timee{
    background-color: #95B226;
}
#story-card6 , #story-card7{
    display: none;
}
/* footer section style */
footer{
    background-color: #01ACFD;
    max-width: 1440px;
    max-height: 1440px;
    align-items: center;
}
.footer-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
    margin-left: 85px;
    margin-right: 85px;
    padding-top: 100px;
    padding-bottom: 100px;
}
.footer-content{
    display: flex;
}
.footer-content img{
    width: 80px;
    height: 80px;
}
.footer-content h2{
    font-size: 2.2rem;
    color: #FFFFFF;
    font-weight: bold;
}
.footer-info p{
    margin-top: 25px;
    font-size: 0.9rem;
    color: #FFFFFF;
    padding-left: 10px;
    margin-right: -10px;
}
.about-school{
    margin-left: 60px;
}
.about-school h3{
    font-size: 1.25rem;
    color: #FFFFFF;
    font-weight: bold;
}
.about-school ul li a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: bold;
}
.about-school ul{
    margin-top: 30px;
}
.about-school ul li{
    list-style: none;
    margin-bottom: 16px;
}
.footer-social h3{
    color: #FFFFFF;
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 28px;
}
.footer-social img{
    width: 40px;
    height: 40px;
}
/* Mobile size resposive style */
@media screen and (max-width: 576px) {
    *{
        margin: 0px;
    }
    nav .nav-list , 
    .nav-btn button{
        display: none;
    }
    header{
        border: 1px solid #FEA301;
    }
    nav{
        justify-content: space-between;
        margin-top: 12px;
        margin-bottom: 12px;
        padding-left: 16px;
        padding-right: 16px;
    }
    .nav-img h2{
        display: none;
    }
    .bar{
        display: block;
        width: 30px;
        height: 30px;

    }
    .bar a i{
        font-size: 1.7rem;
        padding-top: 13px;
        color: #000000;
    }
    .hero-container{
        flex-direction: column-reverse;
        padding: 15px;
        text-align: center;
    }
    .curriculum-section{
        padding: 0px;
    }
    .curriculum-cards{
        grid-template-columns: repeat(1,1fr);
        padding: 20px;
        justify-content: center;
        align-items: center;
    }
    .curriculum-card{
        width: auto;
        padding-bottom: 30px;
    }
    .curriculum-card img{
        padding-top: 60px;
    }
    .curriculum-card h4{
        padding-top: 20px;
    }
    .curriculum-card p{
        padding-top: 20px;
        padding-left: 55px;
        padding-right: 55px;
    }
    .curriculum-section h2{
        font-size: 1.625rem;
    }
    .arrow-icone{
        display: none;
    }
    #story-card1{
        display: none;
    }
    .story-card-container{
        grid-template-columns: repeat(2,1fr);
        margin-left: 16px;
        margin-right: 16px;
    }
    .story-section{
        padding-left: 0px;
        padding-right: 0px;
    }
    .story-card .timee{
        top: -90px;
    }
    #story-card4 .timee{
        top: -106px;
    }
    #story-card6 , #story-card7{
        display: block;
    }
    #story-card6 .timee{
        background-color: #95B226;
    }
    #story-card7 .timee{
        background-color: #5D58F0;
    }
    .footer-container{
        grid-template-columns: repeat(1,1fr);
        margin-left: 16px;
        padding-bottom: 40px;
    }
    .about-school{
        margin-left: 16px;
    }
    .footer-social{
        margin-left: 16px;
    }
    marquee{
        display: none;
    }
}